APP=development
DB_URI=mongodb://user:pass@localhost:27570/dbname
PORT=5000

# Proposed Argon2 configurations based on https://www.owasp.org/index.php/Password_Storage_Cheat_Sheet
# Adapt to use about 2 seconds
ARGON_TIMECOST=40
# The memory usage of 2^N KiB, here set to recommended value from Issue n°9 of PHC project (128 MB)
ARGON_MEMORY=128000
# Parallelism to N threads here set to recommended value from Issue n°9 of PHC project
ARGON_PARALLELISM=4

CONFIG.JWT_ENCRYPTION=change
CONFIG.JWT_EXPIRATION=10000